/* styles.css */
.map-container {
  width: 600px;
  height: 400px;
}

.map {
  height: 100%;
  width: 100%;
}

/* .leaflet-draw-edit-edit {
  display: none !important;
}

.leaflet-draw-edit-remove {
  border-radius: 2px;
} */
