.header {
  margin-bottom: 35px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-link {
  text-decoration: none;
  padding: 10px;
  background: #61dafb;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin: 5px;
}

.header-link.active {
  background: #282c34;
}
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}